
<div class="container mt-4 min-vh-100">
  <h1 class="text-center text-white mb-4 roboto-black-italic">Welcome to DocConnect!</h1>

  <div class="card text-center">
    <div class="card-header">
      <h2 class="roboto-bold">View Appointments</h2>
    </div>
    <div class="card-body">
      <p class="card-text">
        <%= link_to "All", appointments_path, class: "btn btn-primary" %>
        <%= link_to "Today", today_appointments_path, class: "btn btn-primary" %>
      </p>
    </div>
  </div>

  <div class="card text-center mt-4">
    <div class="card-header">
      <h2 class="roboto-bold">Book a New Appointment</h2>
    </div>
    <div class="card-body">
      <p class="card-text">
        <%= link_to "Book", new_appointment_path, class: "btn btn-primary" %>
      </p>
    </div>
  </div>

  <div class="card text-center mt-4">
    <div class="card-header">
      <h2 class="roboto-bold">Register new Patient</h2>
    </div>
    <div class="card-body">
      <p class="card-text">
        <%= link_to "Register", new_patient_path, class: "btn btn-primary" %>
      </p>
    </div>
  </div>

  <div class="card text-center mt-4 mb-4 ">
    <div class="card-header">
      <h2 class="roboto-bold">View Registered Patients</h2>
    </div>
    <div class="card-body">
      <p class="card-text">
        <%= link_to "View", patients_path, class: "btn btn-primary" %>
      </p>
    </div>
  </div>

</div>
