<h1>I am patient index</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Patient_ID</th>
      <th scope="col">Name</th>
      <th scope="col">Gender</th>
      <th scope="col">Marital Status</th>
      <th scope="col">Age</th>
      <th scope="col">Birth</th>
      <th scope="col">Contact</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
  <%@patients.each do |patient| %>
    <tr>
      <td><%= patient.id %></td>
      <td><%= patient.name %></td>
      <td><%= patient.gender %></td>
      <td><%= patient.marital_status %></td>
      <td><%= patient.age %></td>
      <td><%= patient.date_of_birth.strftime("%m-%d-%Y") %></td>
      <td><%= patient.contact_number %>, <%= patient.email %></td>
      <td>

        <%= link_to(edit_patient_path(patient), class: "btn-btn-outline-secondary") do %>
          <i class="fas fa-pen-to-square"></i>
        <% end %>

        <%= link_to(patient_path(patient), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-outline-danger" ) do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <%= link_to "Appointment", new_appointment_path %>

      </td>
    </tr>
  <% end %>
  </tbody>
</table>
