<div class="container min-vh-100">
  <h1 class="text-white text-center mt-4 roboto-black-italic">You Have <%= @patients.count  %> Registered <%= @patients.count > 1 ? "Patients" : "Patient"  %></h1>

  <% if @patients.present? %>
    <div class="table-responsive mt-4 mb-4">
      <table class="table table-bordered table-striped text-white">
        <thead>
          <tr>
            <th scope="col">Patient ID</th>
            <th scope="col">Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Marital Status</th>
            <th scope="col">Age</th>
            <th scope="col">Birth</th>
            <th scope="col">Contact</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @patients.each do |patient| %>
            <tr>
              <td><%= patient.id %></td>
              <td><%= link_to patient.name, patient_path(patient) %></td>
              <td><%= patient.gender %></td>
              <td><%= patient.marital_status %></td>
              <td><%= patient.age %></td>
              <td><%= patient.date_of_birth.strftime("%m-%d-%Y") %></td>
              <td><%= "#{patient.contact_number}, #{patient.email}" %></td>
              <td>

                <%= link_to raw('<i class="fas fa-pencil-alt"></i>'), edit_patient_path(patient), title: "Edit", class: "btn btn-link" %>

                <% if current_user.admin? || current_user.superadmin? %>
                  <%= link_to(patient_path(patient), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-link" ) do %>
                    <i class="fas fa-trash-alt" style="color: red;"></i>
                  <% end %>

                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p>No registered patients available.</p>
  <% end %>
</div>
