<h1>I am new doctor</h1>
<%= form_with(model: @doctor, url: doctors_path, method: :post) do |form| %>

  <div>
    <%= form.label "Full Name:" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label "Address:" %>
    <%= form.text_field :address %>
  </div>
  <div>
    <%= form.label "Contact Number:" %>
    <%= form.text_field :contact_number %>
  </div>
  <div>
    <%= form.label "Email:" %>
    <%= form.text_field :email %>
  </div>
  <div>
    <%= form.label "Specialization:" %>
    <%= form.text_field :specialty %>
  <div>
    <%= form.submit "Save" %>
  </div>

<% end %>
