<h1>I am edit appointment</h1>


<%= form_with(model: @appointment, url: appointment_path, method: :patch) do |f| %>
  <div class="field">
    <%= f.label :appointment_date %>
    <%= f.date_field :appointment_date %>
  </div>

  <div class="field">
    <%= f.label :doctor_id %>
    <%= f.select :doctor_id, options_from_collection_for_select(@doctors, 'id', 'name'), prompt: 'Select Doctor' %>
  </div>

  <div class="field">
    <%= f.label :patient_id %>
    <%= f.select :patient_id, options_from_collection_for_select(@patients, 'id', 'name'), prompt: 'Select Patient' %>
  </div>

  <%= f.submit "Book" %>
<% end %>
